syntax = "proto3";

option go_package = "{{.ModulePath}}/proto";

{{- $serviceName := .ProjectName | replace "-" "" | replace "_" "" | title }}
package {{.ProjectName | replace "-" "_" | lower}};

service {{$serviceName}} {
  rpc SayHello (HelloRequest) returns (HelloResponse) {}
}

message HelloRequest {
  string name = 1;
}

message HelloResponse {
  string message = 1;
}