module {{.ModulePath}}

go {{.GoVersion}}

require (
	github.com/go-chi/chi/v5 v5.0.10
	github.com/go-chi/cors v1.2.1
	github.com/spf13/viper v1.16.0
{{- if eq .AuthType "jwt"}}
	github.com/go-chi/jwtauth/v5 v5.3.0
	github.com/golang-jwt/jwt/v5 v5.0.0
{{- end}}
{{- if eq .AuthType "oauth2"}}
	golang.org/x/oauth2 v0.13.0
{{- end}}
{{- if eq .AuthType "session"}}
	github.com/gorilla/sessions v1.2.1
{{- end}}
{{- if eq .Logger "zap"}}
	go.uber.org/zap v1.26.0
{{- end}}
{{- if eq .Logger "logrus"}}
	github.com/sirupsen/logrus v1.9.3
{{- end}}
{{- if eq .Logger "zerolog"}}
	github.com/rs/zerolog v1.31.0
{{- end}}
{{- if eq .DatabaseDriver "postgres"}}
	github.com/lib/pq v1.10.9
{{- end}}
{{- if eq .DatabaseDriver "mysql"}}
	github.com/go-sql-driver/mysql v1.7.1
{{- end}}
{{- if eq .DatabaseDriver "sqlite"}}
	github.com/mattn/go-sqlite3 v1.14.17
{{- end}}
{{- if and (ne .DatabaseDriver "") (eq .DatabaseORM "gorm")}}
	gorm.io/gorm v1.25.4
{{- if eq .DatabaseDriver "postgres"}}
	gorm.io/driver/postgres v1.5.2
{{- end}}
{{- if eq .DatabaseDriver "mysql"}}
	gorm.io/driver/mysql v1.5.2
{{- end}}
{{- if eq .DatabaseDriver "sqlite"}}
	gorm.io/driver/sqlite v1.5.4
{{- end}}
{{- end}}
{{- if and (ne .DatabaseDriver "") (ne .DatabaseDriver "redis") (eq .DatabaseORM "sqlx")}}
	github.com/jmoiron/sqlx v1.3.5
{{- end}}
{{- if .EnableMetrics}}
	github.com/prometheus/client_golang v1.17.0
{{- end}}
{{- if .EnableTracing}}
	go.opentelemetry.io/otel v1.21.0
	go.opentelemetry.io/otel/trace v1.21.0
{{- end}}
	github.com/stretchr/testify v1.8.4
)