package unit_test

import (
	"testing"

	"github.com/stretchr/testify/assert"
	"{{.ModulePath}}/internal/domain/entities"
)

func TestUser_GetFullName(t *testing.T) {
	user := entities.User{
		FirstName: "John",
		LastName:  "Doe",
	}
	assert.Equal(t, "John Doe", user.GetFullName())

	user = entities.User{
		FirstName: "Jane",
		LastName:  "",
	}
	assert.Equal(t, "Jane", user.GetFullName())

	user = entities.User{
		FirstName: "",
		LastName:  "Doe",
	}
	assert.Equal(t, "Doe", user.GetFullName())

	user = entities.User{
		FirstName: "",
		LastName:  "",
	}
	assert.Equal(t, "", user.GetFullName())
}
