module {{.ModulePath}}/pkg/events

go {{.GoVersion}}

require (
	{{.ModulePath}}/pkg/shared v0.0.0
	{{.ModulePath}}/pkg/models v0.0.0
{{- if eq .MessageQueue "redis"}}
	github.com/go-redis/redis/v8 v8.11.5
{{- else if eq .MessageQueue "nats"}}
	github.com/nats-io/nats.go v1.28.0
{{- else if eq .MessageQueue "kafka"}}
	github.com/segmentio/kafka-go v0.4.42
{{- else if eq .MessageQueue "rabbitmq"}}
	github.com/streadway/amqp v1.1.0
{{- end}}
	github.com/google/uuid v1.3.0
)

replace {{.ModulePath}}/pkg/shared => ../shared
replace {{.ModulePath}}/pkg/models => ../models