package domain_test

import (
	"testing"

	"github.com/stretchr/testify/assert"
	"{{.ModulePath}}/internal/domain/{{.DomainName}}"
	"{{.ModulePath}}/internal/shared/valueobjects"
)

func Test{{.DomainName | title}}_New{{.DomainName | title}}(t *testing.T) {
	entity, err := {{.DomainName}}.New{{.DomainName | title}}("test-{{.DomainName}}", "test@example.com", "Test {{.DomainName}} description")
	assert.NoError(t, err)
	assert.NotNil(t, entity)
	assert.NotEmpty(t, entity.ID().String())
	assert.Equal(t, "test-{{.DomainName}}", entity.Name())
	assert.Equal(t, "test@example.com", entity.Email())
	assert.Equal(t, "Test {{.DomainName}} description", entity.Description())
	assert.Equal(t, {{.DomainName}}.StatusActive, entity.Status())
}
