module {{.ModulePath}}

go {{.GoVersion}}

require (
	github.com/gin-gonic/gin v1.9.1
	github.com/spf13/viper v1.16.0
{{- if eq .Logger "zap"}}
	go.uber.org/zap v1.26.0
{{- else if eq .Logger "logrus"}}
	github.com/sirupsen/logrus v1.9.3
{{- else if eq .Logger "zerolog"}}
	github.com/rs/zerolog v1.31.0
{{- end}}
{{- if .HasDatabase}}
{{- if eq .DatabaseORM "gorm"}}
	gorm.io/gorm v1.25.4
{{- if .HasPostgreSQL}}
	gorm.io/driver/postgres v1.5.2
{{- end}}
{{- if .HasMySQL}}
	gorm.io/driver/mysql v1.5.2
{{- end}}
{{- if .HasSQLite}}
	gorm.io/driver/sqlite v1.5.4
{{- end}}
{{- else}}
{{- if .HasPostgreSQL}}
	github.com/lib/pq v1.10.9
{{- end}}
{{- if .HasMySQL}}
	github.com/go-sql-driver/mysql v1.7.1
{{- end}}
{{- if .HasSQLite}}
	github.com/mattn/go-sqlite3 v1.14.17
{{- end}}
{{- end}}
{{- if .HasMongoDB}}
	go.mongodb.org/mongo-driver v1.13.1
{{- end}}
{{- if .HasRedis}}
	github.com/redis/go-redis/v9 v9.3.0
{{- end}}
{{- end}}
{{- if eq .AuthType "jwt"}}
	github.com/golang-jwt/jwt/v5 v5.0.0
{{- end}}
{{- if ne .AuthType ""}}
	golang.org/x/crypto v0.14.0
{{- end}}
	github.com/stretchr/testify v1.8.4
)