service:
  name: "{{.ProjectName}}"
  port: {{.Port}}
  communication_protocol: "{{.CommunicationProtocol}}"
  {{if ne .ServiceDiscovery "none"}}
  service_discovery: "{{.ServiceDiscovery}}"
  {{end}}

# Add other configuration parameters as needed
