module {{.ModulePath}}

go {{.GoVersion}}

require (
	github.com/aws/aws-lambda-go v1.41.0
	github.com/aws/aws-sdk-go-v2 v1.24.0
	github.com/aws/aws-sdk-go-v2/config v1.26.2
	github.com/aws/aws-sdk-go-v2/service/cloudwatch v1.32.0
	github.com/aws/smithy-go v1.19.0
	github.com/aws/aws-xray-sdk-go v1.8.3
{{- if eq .Framework "gin"}}
	github.com/gin-gonic/gin v1.9.1
{{- else if eq .Framework "echo"}}
	github.com/labstack/echo/v4 v4.11.4
{{- else if eq .Framework "fiber"}}
	github.com/gofiber/fiber/v2 v2.52.0
{{- else if eq .Framework "chi"}}
	github.com/go-chi/chi/v5 v5.0.11
{{- end}}
{{- if eq .Logger "zap"}}
	go.uber.org/zap v1.26.0
{{- else if eq .Logger "logrus"}}
	github.com/sirupsen/logrus v1.9.3
{{- else if eq .Logger "zerolog"}}
	github.com/rs/zerolog v1.31.0
{{- end}}
{{- if ne .DatabaseDriver "none"}}
{{- if eq .DatabaseDriver "postgres"}}
	github.com/lib/pq v1.10.9
{{- else if eq .DatabaseDriver "mysql"}}
	github.com/go-sql-driver/mysql v1.7.1
{{- else if eq .DatabaseDriver "sqlite"}}
	github.com/mattn/go-sqlite3 v1.14.19
{{- end}}
{{- if eq .DatabaseORM "gorm"}}
	gorm.io/gorm v1.25.5
{{- if eq .DatabaseDriver "postgres"}}
	gorm.io/driver/postgres v1.5.4
{{- else if eq .DatabaseDriver "mysql"}}
	gorm.io/driver/mysql v1.5.2
{{- else if eq .DatabaseDriver "sqlite"}}
	gorm.io/driver/sqlite v1.5.4
{{- end}}
{{- else if eq .DatabaseORM "sqlx"}}
	github.com/jmoiron/sqlx v1.3.5
{{- end}}
{{- end}}
)