module {{.ModulePath}}

go {{.GoVersion}}

require (
{{- if eq .Framework "gin"}}
	github.com/gin-gonic/gin v1.9.1
	github.com/gin-contrib/cors v1.4.0
{{- end}}
{{- if eq .Framework "echo"}}
	github.com/labstack/echo/v4 v4.11.3
{{- end}}
{{- if eq .Framework "fiber"}}
	github.com/gofiber/fiber/v2 v2.51.0
	github.com/gofiber/fiber/v2/middleware/cors v2.51.0
{{- end}}
{{- if eq .Framework "chi"}}
	github.com/go-chi/chi/v5 v5.0.10
{{- end}}
	github.com/spf13/viper v1.16.0
{{- if eq .Logger "zap"}}
	go.uber.org/zap v1.26.0
{{- end}}
{{- if eq .Logger "logrus"}}
	github.com/sirupsen/logrus v1.9.3
{{- end}}
{{- if eq .Logger "zerolog"}}
	github.com/rs/zerolog v1.31.0
{{- end}}
{{- if eq .DatabaseDriver "postgres"}}
	github.com/lib/pq v1.10.9
{{- end}}
{{- if eq .DatabaseDriver "mysql"}}
	github.com/go-sql-driver/mysql v1.7.1
{{- end}}
{{- if eq .DatabaseDriver "sqlite"}}
	github.com/mattn/go-sqlite3 v1.14.17
{{- end}}
{{- if eq .DatabaseDriver "redis"}}
	github.com/redis/go-redis/v9 v9.3.0
{{- end}}
{{- if and (ne .DatabaseDriver "") (eq .DatabaseORM "gorm")}}
	gorm.io/gorm v1.25.4
{{- if eq .DatabaseDriver "postgres"}}
	gorm.io/driver/postgres v1.5.2
{{- end}}
{{- if eq .DatabaseDriver "mysql"}}
	gorm.io/driver/mysql v1.5.2
{{- end}}
{{- if eq .DatabaseDriver "sqlite"}}
	gorm.io/driver/sqlite v1.5.4
{{- end}}
{{- end}}
{{- if and (ne .DatabaseDriver "") (ne .DatabaseDriver "redis") (eq .DatabaseORM "sqlx")}}
	github.com/jmoiron/sqlx v1.3.5
{{- end}}
{{- if eq .AuthType "jwt"}}
	github.com/golang-jwt/jwt/v5 v5.0.0
{{- end}}
	github.com/google/uuid v1.4.0
	github.com/stretchr/testify v1.8.4
{{- if ne .DatabaseDriver ""}}
	github.com/testcontainers/testcontainers-go v0.27.0
{{- if eq .DatabaseDriver "postgres"}}
	github.com/testcontainers/testcontainers-go/modules/postgres v0.27.0
{{- end}}
{{- if eq .DatabaseDriver "mysql"}}
	github.com/testcontainers/testcontainers-go/modules/mysql v0.27.0
{{- end}}
{{- end}}
)