module {{.ModulePath}}/pkg/models

go {{.GoVersion}}

require (
	{{.ModulePath}}/pkg/shared v0.0.0
	github.com/google/uuid v1.4.0
	github.com/go-playground/validator/v10 v10.16.0
)

replace {{.ModulePath}}/pkg/shared => ../shared