package domain_test

import (
	"testing"

	"github.com/stretchr/testify/assert"
	"{{.ModulePath}}/internal/domain/{{.DomainName}}"
	"{{.ModulePath}}/internal/shared/valueobjects"
)

func Test{{.DomainName | title}}_New{{.DomainName | title}}(t *testing.T) {
	email, _ := valueobjects.NewEmail("test@example.com")
	{{.DomainName}}, err := {{.DomainName}}.New{{.DomainName | title}}("Test", "User", email, "password123")
	assert.NoError(t, err)
	assert.NotNil(t, {{.DomainName}})
	assert.NotEmpty(t, {{.DomainName}}.ID.String())
	assert.Equal(t, "Test", {{.DomainName}}.FirstName)
	assert.Equal(t, "User", {{.DomainName}}.LastName)
	assert.Equal(t, email, {{.DomainName}}.Email)
	assert.NotEmpty(t, {{.DomainName}}.PasswordHash)
}
